:root {
    --numCol: 0;
    --numRow: 0;
}

body {
    text-align: center;
}

#wrapper {
    display: inline-grid;
    width: 600px;
    height: 400px;
    grid-template-columns: repeat(var(--numCol), auto);
    grid-template-rows: repeat(var(--numRow), auto);
    border-color: #2f19ab;
    border-radius: 10px;
    border-style: solid;
    grid-gap: 1px;
}
.block {
    background-color: white;
    display: inline-block;
    transition: 0.4;
    border-color: gray;
    border-width: thin;
}

.block:hover {
    background-color: blue;
    transform: scale(1.15);;
}

#creator {
	background-color:#4e45c7;
	border-radius:28px;
	border:1px solid #2f19ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin: 10px;
}

#creator:hover {
	background-color:#6270cc;
}



