:root {
    --numCol: 0;
    --numRow: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(var(--numCol), 20px);
    grid-template-rows: repeat(var(--numRow), 20px);
    grid-gap: 1px;
}
.block {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0.4;
}

.block:hover {
    background-color: blue;
    transform: scale(1.15);;

}

